In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path="/content/drive/MyDrive/Colab Notebooks/sales_data[1].csv"

In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/sales_data[1].csv")
print(data.head())

   Product_ID   Sale_Date Sales_Rep Region  Sales_Amount  Quantity_Sold  \
0        1052  2023-02-03       Bob  North       5053.97             18
1        1093  2023-04-21       Bob   West       4384.02             17
2        1015  2023-09-21     David  South       4631.23             30
3        1072  2023-08-24       Bob  South       2167.94             39
4        1061  2023-03-24   Charlie   East       3750.20             13

  Product_Category  Unit_Cost  Unit_Price Customer_Type  Discount  \
0        Furniture     152.75      267.22     Returning      0.09
1        Furniture    3816.39     4209.44     Returning      0.11
2             Food     261.56      371.40     Returning      0.20
3         Clothing    4330.03     4467.75           New      0.02
4      Electronics     637.37      692.71           New      0.08

  Payment_Method Sales_Channel Region_and_Sales_Rep
0           Cash        Online            North-Bob
1           Cash        Retail             West-Bob
2  Bank Transfer        Retail          South-David
3    Credit Card        Retail            South-Bob
4    Credit Card        Online         East-Charlie

In [3]:
product_category = data["Product_Category"].values
quantity = data["Quantity_Sold"].values
unit_price = data["Unit_Price"].values
sales_amount = data["Sales_Amount"].values
unit_cost = data["Unit_Cost"].values
discount = data["Discount"].values
print(product_category[:5])
print(quantity[:5])
print(unit_price[:5])
print(sales_amount[:5])

['Furniture' 'Furniture' 'Food' 'Clothing' 'Electronics']
[18 17 30 39 13]
[ 267.22 4209.44  371.4  4467.75  692.71]
[5053.97 4384.02 4631.23 2167.94 3750.2 ]

In [4]:
total_revenue = np.sum(sales_amount)
average_sales = np.mean(sales_amount)

print("Total Revenue:", total_revenue)
print("Average Sales:", average_sales)

Total Revenue: 5019265.2299999995
Average Sales: 5019.265229999999

In [5]:
print("First 10 Sales Records:", sales_amount[:10])
print("Last 5 Quantity Sold:", quantity[-5:])

First 10 Sales Records: [5053.97 4384.02 4631.23 2167.94 3750.2  3761.15  618.31 7698.92 4223.39
 8239.58]
Last 5 Quantity Sold: [ 4 37 17 39 48]

In [6]:
mean_sales = np.mean(sales_amount)
median_sales = np.median(sales_amount)
variance_sales = np.var(sales_amount)
std_sales = np.std(sales_amount)

print("Mean Sales:", mean_sales)
print("Median Sales:", median_sales)
print("Variance:", variance_sales)
print("Standard Deviation:", std_sales)

Mean Sales: 5019.265229999999
Median Sales: 5019.3
Variance: 8096109.805582548
Standard Deviation: 2845.3663745785966

In [7]:
calculated_revenue = quantity * unit_price
print("Calculated Revenue (First 10):", calculated_revenue[:10])

Calculated Revenue (First 10): [  4809.96  71560.48  11142.   174242.25   9005.23  35408.32  76098.61
 182373.9   32863.5   48282.12]

In [8]:
profit = (unit_price - unit_cost) * quantity
profit_percentage = (profit / sales_amount) * 100

print("Profit (First 10):", profit[:10])
print("Profit % (First 10):", profit_percentage[:10])

Profit (First 10): [ 2060.46  6681.85  3295.2   5371.08   719.42  6583.04  6243.12 12058.44
 10721.7   8171.82]
Profit % (First 10): [  40.76913793  152.41376636   71.15172427  247.750399     19.18351021
  175.02731877 1009.70710485  156.62508508  253.86478634   99.17762799]

In [9]:
unique_categories = np.unique(product_category)

for category in unique_categories:
    category_sales = sales_amount[product_category == category]
    print(category, "- Total Sales:", np.sum(category_sales))

Clothing - Total Sales: 1313474.36
Electronics - Total Sales: 1243499.64
Food - Total Sales: 1201773.54
Furniture - Total Sales: 1260517.69

In [10]:
print("Highest Sale:", np.max(sales_amount))
print("Lowest Sale:", np.min(sales_amount))

Highest Sale: 9989.04
Lowest Sale: 100.12